{{define "main"}}
<div class="px-4 pb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pb-20">
  
  <h1>{{ .Title }}</h1>

  <article class="prose">
    {{ .Content }}
    <div class="grid gap-4 row-gap-5 lg:grid-cols-1">
      {{ range .Pages }}
      <div class="mt-4 ml-1 py-1 p-px overflow-hidden duration-300 hover:scale-105">
        <a href="{{.Permalink}}" class="hover:no-underline">
          <h3 class="m-0">{{.Title}}</h3>
        </a>
        <span class="block mt-0 mb-1 text-gray-500">
          {{.Date | time.Format ":date_long" }}
        </span>
        <span class="font-normal text-gray-800">{{.Description}}</span>
        <a href="{{.Permalink}}">Read&nbsp;more&nbsp;→</a>
      </div>
      {{ end }}
    </div>
  </article>
</div>
{{end}}
