{{define "main"}}
<div class="px-4 pb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pb-20">
  
  <h2>{{ .Title }}</h2>

  <article class="prose">
    {{ .Content }}
    <div class="grid gap-4 row-gap-5 lg:grid-cols-1">
      {{ range .Pages }}
      <a 
        class="block relative no-underline mt-4 px-2 py-1 p-px overflow-hidden transition duration-300 hover:scale-105" href="{{.Permalink}}"
      >
        <h3 class="m-0">{{.Title}}</h3>
        <span class="block font-thin mt-0 mb-1">
          {{.Date | time.Format ":date_long" }}
        </span>
        <span class="block font-normal text-[#374151]">{{.Description}} →</span>
      </a>
      {{ end }}
    </div>
  </article>
</div>
{{end}}
