  <!-- aside header -->
  <aside>
    <div class="bg-gradient-to-r bg-gray-200 relative z-10">
      <div class="max-w-screen-xl px-4 py-20 mx-auto lg:items-center lg:flex mb-14">
        <div class="max-w-xl mx-auto">
          <h2 class="text-3xl font-extrabold sm:text-5xl text-koblue">
             Transfer Pricing for InnerSource <span class="text-lime-500">- made easy</span>
          </h2>

          <p class="mt-4 sm:leading-relaxed text-lg sm:text-xl">
            InnerSource and taxation don't have to be at odds. We help you implement lightweight transfer pricing models for your InnerSource program - zero impediments to collaboration.
          </p>

          <div class="flex flex-wrap justify-left gap-4 mt-8">
            <a class="text-center font-medium block w-full px-12 py-3 text-koblue bg-white rounded shadow sm:w-auto hover:text-koblue hover:bg-gray-100 active:text-sky-600" href="/services/transfer-pricing-and-innersource/">
              Learn more →
            </a>
          </div>
        </div>
      </div>
    </div>
  </aside>