{{ define "main" }}

{{ partial "carousel.html" }}
  <!-- some page content -->
  <div class="px-4 pb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pb-20">
    <div class="grid gap-8 row-gap-5 lg:grid-cols-3 mt-12">

      {{ partial "home-block-heavy.html" (dict 
        "title" "Taxation & Software Engineering" 
        "bg_class" "bg-koblue"
        "link_text" "Read more"
        "text" "Learn more about tax compliance in software engineering in our blog series." 
        "href" "/blog/2024/tax-compliance-in-software-engineering-what-is-it-all-about/")
      }}

      {{ partial "home-block-heavy.html" (dict 
        "title" "Consulting Services" 
        "bg_class" "bg-lime-500"
        "link_text" "Learn more"
        "text" "All about how we assure tax compliance in your software development."
        "href" "/services")
      }}

      {{ partial "home-block-heavy.html" (dict 
        "title" "Schedule Free-of-Charge Call"
        "bg_class" "bg-amber-500"
        "link_text" "Reach out"
        "text" "Schedule a call about transfer pricing risks related to your software development." 
        "href" "mailto:info@kolabri.io")
      }}

      {{ partial "home-block-light.html" (dict 
        "title" "Blog" 
        "text" "The latest insights at the intersection of transfer pricing and software engineering." 
        "href" "/blog")
      }}

      {{ partial "home-block-light.html" (dict 
        "title" "Company" 
        "text" "We bring decades of experience in software engineering and transfer pricing." 
        "href" "/company")
      }}
    
      {{ partial "home-block-heavy.html" (dict 
        "title" "Emergency Support" 
        "bg_class" "bg-red-600"
        "link_text" "Reach out"
        "text" "Immediate support for ongoing transfer pricing audits." 
        "href" "mailto:info@kolabri.io")
      }}

      {{ partial "home-block-light.html" (dict 
        "title" "Transfer Pricing & InnerSource" 
        "text" "Our comprehensive article on how cost contribution agreements enable tax compliance for InnerSource." 
        "href" "/blog/2022/article-transfer-pricing-innersource-mnetax/")
      }}
    </div>
  </div>
{{ end }}
